<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper row">
      <div class="col-xs-1 col-md-2"></div>
      <div class="footer-col col-xs-10 col-md-8">
        <ul class="social-media-list inline">
          <!--
          <li>
            <a href="https://twitter.com/hashtag/thevickening"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">#thevickening</span></a>
          </li>
          <li>
          <a href="https://www.facebook.com/hashtag/thevickening"><span class="icon icon--facebook">{% include icon-facebook.svg %}</span><span class="username">#thevickening</span></a>
          </li>
          <li>
          <a href="https://www.instagram.com/explore/tags/thevickening/"><span class="icon icon--instagram">{% include icon-instagram.svg %}</span><span class="username">#thevickening</span></a>
          </li> -->
<!--
          <li>
          <a href="https://github.com/chrisinajar/thevickening.com"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">Source</span></a>
          </li> -->

        </ul>
      </div>

      <div class="footer-col col-xs-1 col-md-2">
      </div>
    </div>

  </div>

</footer>
